doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PUG 
        ul
            if  productos == 0
                h1 ERROR
            each producto in productos
                li= "PRODUCTO: " + producto.productname
                li= "PRECIO: " +producto.price
        <input type="button" onclick="location.href='http://localhost:8080/';" value="HOME"/>
    body 